<h1> Login! </h1>
<% if @session.errors.any? %>
    <% @session.errors.full_messages.each do |error| %>
        <%= error %>
    <% end %>
<% end %>

<%= form_with url: sessions_path, method: :post do |form|%>

    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class:"form-control" %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class:"form-control" %>
    </div>
    <div class="mb-3">
        <%= form.submit "Login", class: "btn btn-primary" %>
    </div>

<% end %>