<h1><%= current_user.name%> </h1>
<br>
    <%= image_tag current_user.main_image %>
    <h3><%= current_user.role%></h3>
    <h3><%= current_user.email%></h3>
    <h3><%= current_user.bacbid%></h3>
    <br>
<h3>Appointments! </h3>
<% current_user.appointments.each do |appointment| %>
    <li>
    <h3><%= appointment.start_time%>
    </li>
    <br>
<% end %>
<h3>Clients: </h3>
<% current_user.clients.each do |client| %>
    <h3><%= link_to client.name, client%></h3>
<% end %>