<h5> <%=@current_user.name%> </h5>
<br>
    <h3><%= employee.role%></h3>
    <h3><%= employee.bacbid%></h3>
    <h3><%= employee.email%></h3>
    <h3><%= employee.bacbid%></h3>
    <br>
<h4> Appointments! </h4>
<%= @employees.appointments.each do |appointment| %>
    <li>
    <h3><%= appointment.start_time%>
    </li>
    <br>
    <h5> <%=@current_user.name Clients!%> </h5>
    <h3><%= @employees.clients.each do |client| %></h3>
<% end %>