<h5> <%=@current_user.name%> </h5>
<br>
    <h3><%= employee.role%></h3>
    <h3><%= client.%></h3>
    <h3><%= client.parent_phone_number%></h3>
    <br>
<h4> Appointments! </h4>
<%= @clients.appointments.each do |appointment| %>
    <li>
    <h3><%= appointment.start_time%>
    </li>
    <br>
    <h5> <%=@current_user.name Therapists!%> </h5>
    <h3><%= @clients.employees.each do |employee| %></h3>