<h1> Employee Registration <h1>

<%= form_with model: @employee, url: new_registration_path do |form|%>
    <div class="mb-3">
    <%= form.label :name, "Employee First and Last Name:" %>
    <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.label :title, "Title:" %>
    <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.label :bacbid, "BACB ID:" %>
    <%= form.number_field :bacbid, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.label :email, "Employee Email:" %>
    <%= form.email_field :email, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.label :password, "Password:" %>
    <%= form.password_field :password, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.label :password_confirmation, "Confirm password:" %>
    <%= form.password_field :password_confirmation, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.submit "Welcome to the team!", class: "btn btn-primary" %>
    </div>
<% end %>


