<h1><%= current_user.name%> </h1>
<br>
    
    <h3><%= current_user.parent_name%></h3>
    <h3><%= current_user.parent_address%></h3>
    <h3><%= current_user.parent_phone_number%></h3>
    <br>
<h3>Appointments! </h3>
<% current_user.appointments.each do |appointment| %>
    <li>
    <h3><%= appointment.start_time%>
    </li>
    <br>
<% end %>
<h3>Therapists: </h3>
<% current_user.employees.each do |employee| %>
    <li>
    <h3><%= link_to employee.name%></h3>
    </li>
<% end %>