<h4>Edit Appointment:</h4>
<%= form_with(model: @appointment, url: appointments_path) do |form|%>
    
<%=<p>Title: <input type="text" name="title" value="<%=@group.title%>" required></p><p>Title: <input type="text" name="title" value="<%=@group.title%>" required></p>%>

<div class="mb-3">
<%= form.submit "update", class: "btn btn-primary" %>
</div>
<% end %>