<h1> New Appointment <h1>
<% if @appointment.errors.any? %>
    <% @appointment.errors.full_messages.each do |error| %>
        <%= error %>
    <% end %>
<% end %>
<%= form_with(model: @appointment, ) do |form|%>
    <div class="mb-3">
    <%= form.label :client_id, "Client First and Last name:" %>
    <%= form.collection_select :client_id, Client.all, :id, :name, prompt:"Select One", class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.label :duration, "Session Duration:" %>
    <%= form.number_field :duration, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.label :start_time, "Session Start Time:" %>
    <%= form.datetime_field :start_time, class: "form-control" %>
    </div>
    <div class="mb-3">
    <%= form.submit "Create appointment!", class: "btn btn-primary" %>
    </div>
<% end %>